@model List<TCM.HMS.Application.User.Dto.UserDto>
<section class="content-header clearfix">
    <h1 class="pull-left">
        用户列表
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 50px;">序号</th>
                        <th>头像</th>
                        <th>昵称</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>手机号</th>
                        <th>身份证</th>
                        <th>体质辨识</th>
                    </tr>
                </tbody>
                <tbody style="border: none;">
                    @{
                        var index = 1;
                    }
                    @foreach (var item in Model)
                    {
                        var sex = item.Sex == 0 ? "女" : "男";
                        var head = string.IsNullOrEmpty(item.HeadImgUrl) ? "/images/user2-160x160.jpg" : item.HeadImgUrl;
                        <tr>
                            <td style="width: 50px; text-align: center; vertical-align: middle;">@index</td>
                            <td>
                                <img src="@head" width="50" height="50" />
                            </td>
                            <td style="vertical-align: middle; text-align: center;">@item.NickName</td>
                            <td style="vertical-align: middle; text-align: center;">@item.UserName</td>
                            <td style="vertical-align: middle; text-align: center;">@sex</td>
                            <td style="vertical-align: middle; text-align: center;">@item.Mobile</td>
                            <td style="vertical-align: middle; text-align: center;">@item.IdCard</td>
                            <td style="vertical-align: middle;">@item.ExamResult</td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>